/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  color: white;
  background: black;
}

div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 30px;
}

input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

button,
label,
ul {
  width: 300px;
  box-sizing: border-box;
  border: solid 1px white;
  background: black;
  color: white;
  font-size: 24px;
  margin: auto;
  padding: 10px;
}

img {
  width: 300px;
  margin-bottom: 25px;
}

ul {
  list-style: none;
  padding: 10px;
  margin-bottom: 25px;
}

li:not(:last-child) {
  padding: 10px;
  border-bottom: solid 1px;
}